numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
ipython
jupyterlab
notebook
beautifulsoup4
requests
scrapy
selenium
black
git+https://github.com/martinmarroyo/DBToolBox.git 
pytest
pylint
python-dotenv
pyyaml




